* {
      background-image: url('background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center bottom;
}

body {
  font-family: "Inconsolata", monospace;;
  font-size: 150%;
}

header {
  color: #FF6666;
  text-shadow: 5px 5px 5px black;
  text-align: left;

}

p{
    position: relative;
    left: 0px;
    width: 300px;
    border: none;
    padding: 10px;
}


h2 {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #D56262;
}

a {
  font-weight: bold;
  font-style: italic;
  color: ##FFFF99;
  font-size: 1em;
  text-shadow: 0px 0px 1px yellow;
}
